/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/11/2018, 12:18:17 PM
    Author     : Kirbey
*/

#closeBtn{
    top: 0.2rem;
    right: 0.2rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}

#prevBtn{
    margin-left: 0.2rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}

#nextBtn{
    opacity: 90%;
    margin-right: 0.2rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}

#imageBox {
    height: calc;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

#commentsElementBox{
    width: 100%;
    height: 95%;
    margin-bottom: 3%;
    background-color: #eff1f3;
    border-radius: .25rem;
    display: inline-block;
    overflow-y: scroll;
}

#profilePic{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#profilePicCom{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#elementInCommentBox{
    background-color: #d1ecf1;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: .25rem;
}

#elementLikeComment{
    border-bottom-color: #007bff;
    border-bottom-width: 1px;
    border-top-color: #007bff;
    border-top-width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: .25rem;
    -webkit-perspective: 600px;
}

#commment, #like{
    padding:0px;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
}

#commment:hover, #like:hover{
    background-color: #d1ecf1;
    border-radius: 1.5rem;
    -webkit-animation-name: girando;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: once;
    -webkit-animation-duration: 0.3s;
    -webkit-transform-style: preserve-3d;
}

@-webkit-keyframes girando {
    from {-webkit-transform: rotateX(0deg);}
    to   {-webkit-transform: rotateX(90deg);}
}

#commentsColumn{
    padding: 0px;
    align-items: center;
    border-bottom-color: #007bff;
    border-bottom-width: 1px;
    border-top-color: #007bff;
    border-top-width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: .25rem;
}

#commentsCharged{
    text-align: center;
    overflow-y: scroll;
}

#commentsCharged div{
    background-color: #ffffff;
    border-radius: 1.5rem;
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
    padding-top: 5px;
    text-align: left;
}

#commentTxtBox{
    border: none;
    border-radius: 1.5rem;
    padding: 8px;
    box-sizing: border-box;
    resize: none;
}