/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/09/2018, 09:19:49 PM
    Author     : Iván Aguilar
*/

*{margin: 0; padding: 0;}

/* color del header */
.header {   
    background-color: #151639;
    overflow: hidden;
}

/* estilos para los botones */
body nav {
    float: right;
    line-height: 95px;
    margin-right: 150px;
}

body nav a{
    text-decoration: none;
    color: gray;
    font-size: 30px;
    margin-right: 40px;
}

/* logo de la página */
.logo {
    color: #D3D3D3;
    font-size: 50px;
    line-height: 90px;
    float: left;
    margin-left: 90px;
    font-family: serif;
    text-decoration: background;
    margin-top: 2px
}

/* buscador */
input[type=text] {
    margin-left: 25px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    background-image: url('icons/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-top: 25px;
}


